<% @page_title = @draft.title  %>

<hr>
<div class="article-title">
  <p class="article-wrap h3"><%= @draft.title %></p>
</div>

<div class="right-elm">
  <%= user_tag_link @draft.tag_list %>
</div>

<hr>
<div class="article-wrap">
  <%= markdown @draft.body %>
</div>

<hr>

<h3>
  <%= link_to "この記事を公開する", user_draft_path(identify_name: current_user.identify_name,
        access_token: @draft.access_token), method: :patch %>
</h3>

<p class="right-elm">
  <% if current_user && @draft.account == current_user %>
    <%= link_to "この記事を削除する", user_draft_path(identify_name: current_user.identify_name, access_token: @draft.access_token),
          method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</p>
