<% @page_title = @draft.title  %>

<div class="article-title">
  <p class="article-wrap h3"><%= @draft.title %></p>
</div>

<div class="right-elm">
  <%= user_tag_link @draft.tag_list %>
</div>

<hr>
<div class="article-wrap">
  <%= markdown @draft.body %>
</div>

<hr>
<p class="right-elm">
  <span class="glyphicon glyphicon-time"></span>
  <%= @draft.created_at.strftime('%Y/%m/%d %H:%M') %>
  <%= link_to "編集", edit_user_draft_path(identify_name: current_user.identify_name, access_token: @draft.access_token),
    class: 'btn btn-primary' %>
  <%= link_to "この記事を公開する", user_draft_path(identify_name: current_user.identify_name,
    access_token: @draft.access_token), method: :patch, class: 'btn btn-success' %>
  <% if current_user && @draft.account == current_user %>
    <%= link_to "削除", user_draft_path(identify_name: current_user.identify_name, access_token: @draft.access_token),
      method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <% end %>
</p>
