<h4 class="glyphicon glyphicon-list">
  新着記事<%= @articles.count %>件
  <%= link_to '記事一覧', :articles %>
</h4>

<ul class="list-group articles">
  <% @articles.each do |article| %>
    <li class="list-group-item article-wrap" data-article_id="<%= article.id %>">
      <%= link_to article.title, article %>
      <% if ( stack_count = article.stacks.count) > 0 %>
        <span class="pull-right label label-success label-as-badge">
          <%= stack_count %>
        </span>
      <% end %>
    </li>
  <% end %>
</ul>

<h4>登録タグ一覧</h4>
<% @tags.each do |tag| %>
  <span class="label label-default top-tag-index">
    <%= link_to tag, tag_articles_path(tag) %>
  </span>
<% end %>
