<%= form_tag [ :session ] do %>
  <div class="form-horizontal">
    <div class="form-group">
      <%= label_tag :identify_name, 'ログイン名', class: "col-xs-2" %>
      <div class="col-xs-4">
        <%= text_field_tag :identify_name, '', autofocus: true, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag :password, 'パスワード', class: "col-xs-2" %>
      <div class="col-xs-4">
        <%= password_field_tag :password, '', class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <%= submit_tag 'ログイン', class: 'btn btn-default' %>
      </div>
    </div>
  </div>
<% end %>
