<div class="row session-new">
  <div class="well">
    <%= form_tag [ :session ], id: "loginForm", novalidate: "novalidate" do %>
      <div class="form-group">
      <%= label_tag :identify_name, 'ログイン名', class: "control-label" %>
      <%= text_field_tag :identify_name, '', autofocus: true, type: "text",
            class: "form-control", placeholder: "ログイン名" %>
        <span class="help-block"></span>
      </div>
      <div class="form-group">
        <%= label_tag :password, 'パスワード', class: "control-label" %>
        <%= password_field_tag :password, '', class: "form-control", type: "password", placeholder: "パスワード" %>
        <span class="help-block"></span>
      </div>
      <div class="checkbox">
        <label>
            <input type="checkbox" name="remember" id="remember"> 次回から自動でログイン
        </label>
      </div>
      <%= submit_tag 'ログイン', class: 'btn btn-default btn-block', type: "submit" %>
    <% end %>
  </div>
  <br>
  <a href="", class="twitterLink btn btn-success btn-block" id="twitterButton",
    onclick="window.open('/auth/twitter', 'twitter', 'width=700, height=600');
    return false">Twitter 新規登録/ログイン</a>
  <br>
  <a href="", class="githubLink btn btn-success btn-block" id="githubButton",
    onclick="window.open('/auth/github', 'git', 'width=700, height=600');
    return false">Github 新規登録/ログイン</a>

</div>

<%= render 'shared/big_banner' %>

<script type="text/javascript">
  $.testFunc = function(val){
    location = (val);
  };
</script>

