<% @page_title = actual_user.identify_name %>

<h4><%= "#{actual_user.identify_name}さんのページです。" %></h4>

<ul class="nav nav-pills">
  <li role="presentation" class="">
    <%= link_to "投稿記事一覧", [ :user, :articles ] %>
  </li>
  <% if actual_user == current_user %>
    <li>
      <%= link_to "下書き記事一覧", [ :user, :drafts ] %>
    </li>
    <li>
      <%= link_to "stackした記事", stacked_user_articles_path(identify_name: current_user.identify_name) %>
    </li>
  <% end %>
</ul>

<table class="table table-bordered">
  <tr>
    <th>
      <% if actual_user.image.present? %>
        <%= account_image_tag actual_user, class: 'account-image img-thumbnail' %>
      <% else %>
        <%= image_tag '/images/noimage.png', alt: "noimage", class: 'img-thumbnail' %>
      <% end %>
    </th>
    <td>
      <table class='table table-hover table-bordered'>
        <tr>
         <td>stack</td>
         <td><%= actual_user.stacks.count %></td>
        </tr>
        <tr>
         <td>stacked</td>
         <td class=""><%= @stacked_count %></td>
        </tr>
        <tr>
         <td>投稿数</td>
         <td><%= actual_user.articles.count %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <th>id</th>
    <td><%= actual_user.identify_name %></td>
  </tr>
  <% if actual_user.email_publication == true %>
  <tr class="mail-link">
    <th>メールアドレス</th>
    <td><%= mail_to actual_user.email %></td>
  </tr>
  <% end %>
  <tr>
    <th>サイトURL</th>
    <td><%= actual_user.sites %></td>
  </tr>
  <tr>
    <th>会社・所属団体等</th>
    <td><%= actual_user.company %></td>
  </tr>
  <tr>
   <th>地域</th>
   <td><%= actual_user.residence %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= hbr actual_user.self_introduction %></td>
  </tr>
</table>


<div class="articlesAndAny">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <% if actual_user == current_user %>
        <li class="list-group-item article-wrap">
          <%= link_to article.title, user_article_path(identify_name: actual_user.identify_name, access_token: article.access_token) %>
          <% if ( stack_count = article.stacks.count) > 0 %>
          <span class="pull-right label label-success label-as-badge">
            <%= stack_count %>
          </span>
          <% end %>
        </li>
      <% else %>
        <% unless article.published == false %>
          <li class="list-group-item article-wrap">
            <%= link_to article.title, user_article_path(identify_name: actual_user.identify_name, access_token: article.access_token) %>
            <% if ( stack_count = article.stacks.count) > 0 %>
            <span class="pull-right label label-success label-as-badge">
              <%= stack_count %>
            </span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>
