<% @page_title = actual_user.identify_name %>

<h4><%= "#{actual_user.identify_name}さんのページです。" %></h4>

<ul class="nav nav-pills">
  <li role="presentation" class="">
    <%= link_to "投稿記事一覧", [ :user, :articles ] %>
  </li>
  <li role="presentation" class="">
    <%= link_to "アカウント情報", user_account_path(identify_name: actual_user.identify_name, id: actual_user.id) %>
  </li>
  <% if actual_user == current_user %>
    <li><%= link_to "編集", edit_user_account_path(
      identify_name: current_user.identify_name, id: current_user.id) %></li>
    <li>
      <%= link_to "stackした記事", stacked_user_articles_path(identify_name: current_user.identify_name) %>
    </li>
  <% end %>
</ul>

<table class="table table-bordered">
  <tr>
   <td><%= account_image_tag actual_user, class: 'account-image' %></td>
   <td>
     <table class='table table-hover table-bordered'>
       <tr>
        <td>stack</td>
        <td><%= actual_user.stacks.count %></td>
       </tr>
       <tr>
        <td>stacked</td>
        <td class=""><%= @stacked_count %></td>
       </tr>
     </table>
   </td>
  </tr>
  <tr>
    <td>id</td>
    <td><%= actual_user.identify_name %></td>
  </tr>
  <% if actual_user == current_user || actual_user.email_publication == true %>
  <tr class="mail-link">
    <td>メールアドレス</td>
    <td><%= mail_to actual_user.email %> <%= actual_user.email_publication %></td>
  </tr>
  <% end %>
  <tr>
    <td>サイトURL</td>
    <td><%= actual_user.sites %></td>
  </tr>
  <tr>
    <td>会社・所属団体等</td>
    <td><%= actual_user.company %></td>
  </tr>
  <tr>
   <td>地域</td>
   <td><%= actual_user.residence %></td>
  </tr>
  <tr>
    <td>自己紹介</td>
    <td><%= hbr actual_user.self_introduction %></td>
  </tr>
</table>


<div class="articlesAndAny">
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item article-wrap">
        <%= link_to article.title, user_article_path(identify_name: actual_user.identify_name, id: article.id) %>
        <% if ( stack_count = article.stacks.count) > 0 %>
        <span class="pull-right label label-success label-as-badge">
          <%= stack_count %>
        </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
