<%= link_to "MENU", [ :admin, :root ] %>
<hr>
<h1>バグ報告一覧</h1>

<div class="well">
  <ul class="list-group articles">
    <% @bug_reports.each do |report| %>
      <li class="list-group-item">
        <%= report.title %><br>
        <hr>
        <%= report.body %><br>
        <br>
        <%= report.created_at.strftime('%Y/%m/%d %H:%M') %>
        <% if report.completable == true %>
          <span class="pull-right label label-success label-as-badge">
            このバグは修正済みです。
          </span>
        <% else %>
          <%= form_for report, url: [ :admin, report ], method: :patch do |f| %>
            <%= f.hidden_field :completable, :value => "1" %>

            <div class="form-group" style="text-align:right;">
              <%= f.submit "Fixed", class: "btn btn-primary" %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

