<%= link_to " 使える記法(markdown)について", [ :help, :markdown ],
  style: "margin-left: 20px;", class: 'glyphicon glyphicon-question-sign', target: "_blank" %>

<%= form_for @article, url: user_articles_path(identify_name: current_user.identify_name),
      method: :post do |f| %>

  <div class="form-horizontal preview-detail">
    <div class="form-group">
      <%= f.label :title, 'タイトル', class: "col-xs-2", style: "margin-left:30px;" %>
      <div class="col-xs-7">
        <%= f.text_field :title, placeholder: "タイトル", class: 'form-control' %>
        <%= error_message(@article, :title) %>
      </div>
    </div>
    <div class="form-group">
      <ul id="post_tags" class="" style="list-style:none;">
        <%= initial_tag_list(@article.tag_list) %>
      </ul>
      <div style="margin-left:30px;"> <%= add_tag_input %> </div>
      <%= f.hidden_field :tag_list %>
    </div>
  </div>

  <div class="row main-field" id="article-new">
    <div class="row">
      <%= error_message(@article, :body) %>
      <h3 class="col-xs-5 border facebook leftline7 preview-head">入力</h3>
      <h3 class="col-xs-5 border facebook leftline7 preview-head">プレビュー</h3>
    </div>

    <div class="row tweaked-margin">
      <div class="col-xs-6">
        <%= f.text_area :body, placeholder: '本文', class: 'form-control preview-area',
              autofocus: true %>
      </div>

      <div class="col-xs-6 preview">
        <div id="result" class="preview-area pre-scrollable article-wrap"></div>
      </div>
    </div>

      <div class="create-temp" data-access_token="<%= @article.access_token %>" 
        data-identify_name="<%= current_user.identify_name %>" data-article_valid=""></div>
      <div class="form-group">
        <div class="article-submit">
          <%= f.submit "作成", class: "btn btn-default col-xs-5", id: "submit-article" %>
        </div>
      </div>
    </div>

<% end %>

<div class="footerNav"> 下書き保存しました。 </div>
