<p><%= link_to '戻る', [ :user, :articles ] %></p>

<p>title:</p>
<p><%= @article.title %></p>
<hr>

<p>body:</p>
<p><%= @article.body %></p>
<hr>

<p>comments:</p>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <p><%= comment.name %></p>
      <p><%= comment.body %></p>
    </li>
  <% end %>
</ul>
<hr>
<p><%= link_to 'コメントを追加', new_user_article_comment_path(identify_name: current_user.identify_name, article_id: @article.id) %></p>
