<% @page_title = "stackした記事" %>

<h4><%= @page_title %></h4>

<% if @articles.present? %>
  <ul class="list-group">
    <% @articles.each do |article| %>
      <li class="list-group-item article-wrap">
        <%= link_to article.title, user_article_path(
          identify_name: article.account.identify_name, access_token: article.access_token) %>
        <span class="badge">
        <%= link_to 'unstack', unlike_user_article_path(
          identify_name: current_user.identify_name, access_token: article.access_token), method: :patch, style: "color:white;" %>
        </span>
      </li>
    <% end %>
  </ul>
<% else %>
  こんにちは、<%= @current_user.identify_name %>さん<br>
  現在、<%= @current_user.identify_name %>さんの持つstacked記事はありません。
<% end %>
