<p><%= link_to '戻る', @article %></p>

<p>コメント追加フォーム<p>
<%= form_for @comment, url: article_comments_path(access_token: @article.access_token) do |f| %>
  <p>
    <%= f.label :name, "名前" %>
    <%= error_message(@comment, :name) %>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :body, "本文" %>
    <%= error_message(@comment, :body) %>
    <%= f.text_area :body, class: 'comment-area' %>
  </p>
  <div class="form-group">
    <%= f.submit "追加", class: "btn btn-default" %>
  </div>
<% end %>
