<%= form_for @account, url: user_account_path(
      identify_name: current_user.identify_name, id: current_user.id),
      html: { multipart: true } do |f| %>

  <div class="well">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.fields_for :image do |imgf| %>
          <%= imgf.label :uploaded_image, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= imgf.file_field :uploaded_image, id: "lefile", style: "display:none" %>
          <div class="input-append">
            <input id="photoCover" class="input-large" type="text">
            <a class="btn" onclick="$('input[id=lefile]').click();">ブラウズ</a>
          </div>
          <%= error_message(@account.image, :uploaded_image) %>
          <% if !imgf.object.new_record? && imgf.object.errors.empty? %>
            <%= account_image_tag @account, width: 60 %>
            <%= imgf.check_box :_destroy %>
            <%= imgf.label :_destroy %>
            <%= imgf.hidden_field :id %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.label :email_publication, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.check_box :email_publication %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :self_introduction, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.text_area :self_introduction, class: 'self-introduction-area' %>
          <%= error_message(@account, :self_introduction) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :sites, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.text_field :sites, class: "form-control" %>
          <%= error_message(@account, :sites) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :company, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.text_field :company, class: "form-control" %>
          <%= error_message(@account, :company) %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :residence, class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.text_field :residence, class: "form-control" %>
          <%= error_message(@account, :residence) %>
        </div>
      </div>

      <div class="form-group" style="width: 300px; margin: auto;">
        <%= f.submit "更新", class: "btn btn-default", style: "width: 260px" %>
      </div>
    </div>
  </div>

<% end %>
