<% @page_title =  "パスワード変更 #{current_user.identify_name}" %>

<%= form_for @change_password_form, url: update_password_user_account_path(
  identify_name: current_user.identify_name, id: current_user), method: :patch do |f| %>

  <div class="well">
    <div class="form-horizontal">
      <div class="form-group">
        <%= f.label :new_password, "新しいパスワード", class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.password_field :new_password, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :new_password_confirmation, "パスワード再入力", class: 'col-xs-4' %>
        <div class="col-xs-8">
          <%= f.password_field :new_password_confirmation, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "更新", class: "btn btn-default col-xs-offset-5" %>
      </div>
    </div>
  </div>

<% end %>
