<% @page_title =  "パスワード変更 #{current_user.identify_name}" %>

<%= form_for @change_password_form, url: update_password_user_account_path(
  identify_name: current_user.identify_name, id: current_user), method: :patch do |f| %>

<div class="row simple-form">
  <div class="well">
    <div class="form-group">
      <%= f.label :new_password, "新しいパスワード", class: 'control-label' %>
      <%= f.password_field :new_password, autofocus: true, class: "form-control", placeholder: '新しいパスワード', style: 'width:300px;' %>
    </div>

    <div class="form-group">
      <%= f.label :new_password_confirmation, "パスワード再入力", class: 'control-label' %>
      <%= f.password_field :new_password_confirmation, class: "form-control", placeholder: 'パスワード再入力', style: 'width:300px;' %>
    </div>

    <div class="form-group">
      <%= f.submit "更新", class: "btn btn-primary" %>
    </div>
  </div>
</div>

<% end %>
