<% @page_title = @account.identify_name %>

<table class="table table-hover table-bordered">
  <tr>
   <td>画像</td>
   <td><%= account_image_tag @account, width: 80 %></td>
  </tr>
  <tr>
    <td>id</td>
    <td><%= @account.identify_name %></td>
  </tr>
  <% if @account == current_user || @account.email_publication == true %>
  <tr class="mail-link">
    <td>メールアドレス</td>
    <td><%= mail_to @account.email %> <%= @account.email_publication %></td>
  </tr>
  <% end %>
  <tr>
    <td>サイトURL</td>
    <td><%= @account.sites %></td>
  </tr>
  <tr>
    <td>会社・所属団体等</td>
    <td><%= @account.company %></td>
  </tr>
  <tr>
   <td>地域</td>
   <td><%= @account.residence %></td>
  </tr>
  <tr>
    <td>自己紹介</td>
    <td><%= hbr @account.self_introduction %></td>
  </tr>
</table>

<% if @account == current_user %>
<p><%= link_to "編集", edit_user_account_path(
  identify_name: current_user.identify_name, id: current_user.id) %></p>
<% end %>
