<% @page_title = @account.identify_name %>

<table class="table table-bordered">
  <tr>
   <th>画像</th>
   <td>
     <% if @account.image.present? %>
      <%= account_image_tag @account, class: 'account-image img-thumbnail' %>
     <% else %>
       <%= image_tag '/images/noimage.png', alt: "noimage", class: 'img-thumbnail' %>
     <% end %>
   </td>
  </tr>
  <tr>
    <th>id</th>
    <td><%= @account.identify_name %></td>
  </tr>
  <% if @account == current_user || @account.email_publication == true %>
  <tr class="mail-link">
    <th>メールアドレス</th>
    <td><%= mail_to @account.email %></td>
  </tr>
  <% end %>
  <tr>
    <th>サイトURL</th>
    <td><%= @account.sites %></td>
  </tr>
  <tr>
    <th>会社・所属団体等</th>
    <td><%= @account.company %></td>
  </tr>
  <tr>
   <th>地域</th>
   <td><%= @account.residence %></td>
  </tr>
  <tr>
    <th>自己紹介</th>
    <td><%= hbr @account.self_introduction %></td>
  </tr>
</table>

<% if @account == current_user %>
<p><%= link_to "編集", edit_user_account_path(
  identify_name: current_user.identify_name, id: current_user.id) %></p>
<% end %>
