<p><%= link_to '戻る', [ :user, :root ] %></p>
<hr>
<p>id</p>
<p><%= @account.identify_name %></p><br>

<p>email</p>
<p><%= @account.email %></p><br>

<p>紹介文</p>
<p><%= @account.self_introduction %></p><br>

<p>WEB site</p>
<p><%= @account.sites %></p><br>

<p>Company</p>
<p><%= @account.company %></p><br>

<p>Residence</p>
<p><%= @account.residence %></p>
