<%
if @article.tags
  tags = @article.tags.map(&:name).join('/')
  @page_title = @article.title + " " + tags
else
  @page_title = @article.title
end
%>

<div class="article-title">
  <p class="article-wrap h3"><%= @article.title %></p>
</div>
<div class="right-elm">
  <% if (count = @article.stacks.count) > 0 %>
    <span class="glyphicon glyphicon-star-empty"></span><%= count %>
  <% end %>
  <% if current_user && current_user.stackable_for?(@article) %>
    <%= link_to "stack!", like_article_path(access_token: @article.access_token), method: :patch, class: 'button' %>
  <% end %>
  <%= link_to @article.account.identify_name, user_root_path(
    identify_name: @article.account.identify_name), class: 'glyphicon glyphicon-user' %>
  <% if @article.tag_list.count > 0 %>
    <span class="glyphicon glyphicon-tags"></span>
    <%= tag_link @article.tag_list %>
  <% end %>
</div>

<hr>
<div class="article-wrap">
  <%= markdown @article.body %>
</div>

<hr>

<div class="article-bottom-block">
  <div class="article-bottom-block-part">
    <%= render 'shared/social_button' %>
  </div>
  <div class="right-elm article-bottom-block-part">
    <%= link_to @article.account.identify_name, user_root_path(
      identify_name: @article.account.identify_name), class: 'glyphicon glyphicon-user' %>
    <span class="glyphicon glyphicon-time"></span>
    <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %>
    <% if current_user && @article.account == current_user %>
      <%= link_to '記事編集', edit_user_article_path(
            identify_name: current_user.identify_name, access_token: @article.access_token), class: 'btn btn-primary' %>
      <%= link_to "削除", user_article_path(identify_name: current_user.identify_name, access_token: @article.access_token),
            method: :delete, data: { confirm: "本当に削除しますか？" }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<ul class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <p><%= comment.name %></p>
      <%= hbr comment.body %>
      <p class="right-elm">
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <p>
    </li>
  <% end %>
</ul>

<span id="article-ptag" data-article-access_token="<%= @article.access_token %>" 
  data-current_user="<%= current_user.identify_name if article_user? %>"></span>
<% @comment = Comment.new(article_id: @article.id) %>
<%= form_for @comment, url: article_comments_path(article_access_token: @article.access_token), 
  method: :post, remote: true do |f| %>
  <div style="display:none;">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </div>
<p> <%= f.text_area :body, class: 'CommentArea' %> </p>
<% end %>
<div class="form-group">
  <button class="btn btn-default article-comment-submit" style="display:none;">追加</button>
</div>

<div id="loading" style="display:none;">
  <img src="/images/gif-load.gif">
</div>
