<p><%= link_to '戻る', :articles %></p>

<hr>
<p>記事を書いた人</p>
<p>
  <%= link_to @article.account.identify_name, user_account_path(
    identify_name: @article.account.identify_name, id: @article.account.id) %>さん
</p>

<hr>
<p class="article-wrap"><%= @article.title %></p>

<hr>
<div class="article-wrap">
  <%= markdown @article.body %>
  <% if current_user && @article.account == current_user %>
    <%= link_to '編集', [ :edit, @article ] %>
  <% end %>
</div>

<hr>
<p class="created">
  <%= link_to @article.account.identify_name, user_account_path(
    identify_name: @article.account.identify_name, id: @article.account.id) %>
  has created in
  <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %>
</p>

<p>comments</p>
<ul class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <p><%= comment.name %></p>
      <%= comment.body %>
      <p class="created">
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <p>
    </li>
  <% end %>
</ul>

<hr>
<p><%= link_to 'コメントを追加', [ :new, @article, :comment ] %></p>
