<% @page_title = @article.title  %>

<p><%= link_to '戻る', :articles %></p>

<hr>
<p>記事を書いた人</p>
<p>
  <%= link_to @article.account.identify_name, user_account_path(
    identify_name: @article.account.identify_name, id: @article.account.id) %>さん
</p>

<hr>
<div class="article-title">
  <p class="article-wrap h3"><%= @article.title %></p>
</div>
<div class="right-elm">
  <%= tag_link @article.tag_list %>
</div>

<hr>
<div class="article-wrap">
  <%= markdown @article.body %>
</div>

<hr>
<p class="right-elm">
  <%= link_to @article.account.identify_name, user_account_path(
    identify_name: @article.account.identify_name, id: @article.account.id) %>
  作成日時
  <%= @article.created_at.strftime('%Y/%m/%d %H:%M') %>
  <% if current_user && @article.account == current_user %>
    <%= link_to '記事編集', edit_user_article_path(
          identify_name: current_user.identify_name, id: @article) %><br>
  <% end %>
</p>

<p>コメント</p>
<ul class="list-group">
  <% @comments.each do |comment| %>
    <li class="list-group-item">
      <p><%= comment.name %></p>
      <%= hbr comment.body %>
      <p class="right-elm">
        <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %>
      <p>
    </li>
  <% end %>
</ul>

<hr>
<p><%= link_to 'コメントを追加', [ :new, @article, :comment ] %></p>

<p class="right-elm">
  <% if current_user && @article.account == current_user %>
    <%= link_to "この記事を削除する", user_article_path(identify_name: current_user.identify_name, id: @article),
          method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
</p>
