<p><%= link_to '戻る', user_article_path(identify_name: actual_user.identify_name, id: @article.id) %></p>

<p>コメント追加フォーム<p>
<%= form_for @comment, url: user_article_comments_path(
  identify_name: actual_user.identify_name, article_id: @article.id) do |f| %>
  <p>
    <%= f.label :name, "名前" %>
    <%= error_message(@comment, :name) %>
    <%= f.text_field :name, autofocus: true %>
  </p>
  <p>
    <%= f.label :body, "本文" %>
    <%= error_message(@comment, :body) %>
    <%= f.text_area :body, size: '50x10' %>
  </p>
  <div class="form-group">
    <%= f.submit "追加", class: "btn btn-default" %>
  </div>
<% end %>
