<p>User::Comments#new</p>
<p><%= link_to '戻る', [ :user, @article ] %></p>

<p>コメント追加フォーム<p>
<%= form_for [ :user, @article, @comment ] do |f| %>
  <p>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :body, "本文" %>
    <%= error_message @comment %>
    <%= f.text_field :body %>
  </p>
  <p><%= f.submit "追加" %></p>
<% end %>
