<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-menu-1">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "Ziita", :root, id: "ziita", class: "navbar-brand" %>
</div>

<div class="collapse navbar-collapse" id="nav-menu-1">
  <ul class="nav navbar-nav">
    <% if current_user %>
      <li>
        <%= link_to 'ログアウト', :session, method: :delete %>
      </li>
      <li>
        <%= link_to '記事を投稿する', new_user_article_path(identify_name: current_user.identify_name) %>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">マイメニュー<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li>
            <%= link_to "#{current_user.identify_name} ページ", user_root_path(
              identify_name: current_user.identify_name) %>
          </li>
          <li><%= link_to "設定", settings_user_account_path(
                    identify_name: current_user.identify_name, id: current_user) %></li>
        </ul>
      </li>
    <% else %>
      <li>
        <%= link_to 'ログイン', [ :new, :session ] %>
      </li>
      <li>
        <%= link_to "新規登録", :new_account %>
      </li>
    <% end %>
  </ul>
</div>
