<!DOCTYPE html>
<html>
  <head>
    <title>Ziita</title>
    <%= stylesheet_link_tag 'user', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'user', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <%= render 'user/shared/header' %>
        </div>
      </nav>
    </div>
    <div id="content">
      <div id="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <%= flash_messages %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
