<div class="row account-new">
  <div class="well">
    <%= form_for @account, url: :account do |f| %>
      <div class="form-horizontal">
        <div class="form-group">
          <%= f.label :identify_name, class: "col-xs-4" %>
          <div class="col-xs-8">
            <%= f.text_field :identify_name, autofocus: true, class: "form-control", placeholder: "ログイン名" %>
            <%= error_message(@account, :identify_name) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :email, class: "col-xs-4" %>
          <div class="col-xs-8">
            <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
            <%= error_message(@account, :email) %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password, class: "col-xs-4" %>
          <div class="col-xs-8">
            <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-xs-4" %>
          <div class="col-xs-8">
            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード再入力" %>
            <%= error_message(@account, :password_confirmation) %>
          </div>
        </div>
        <%= submit_tag '登録する', class: 'btn btn-success btn-block', type: 'submit' %>
      </div>
    <% end %>
  </div>
    <br>
    <a href="", class="twitterLink btn btn-success btn-block" id="twitterButton",
      onclick="window.open('/auth/twitter', 'twitter', 'width=700, height=600');
      return false">Twitter 新規登録/ログイン</a>
    <br>
    <a href="", class="githubLink btn btn-success btn-block" id="githubButton",
      onclick="window.open('/auth/github', 'git', 'width=700, height=600');
      return false">Github 新規登録/ログイン</a>
</div>

<script type="text/javascript">
  $.testFunc = function(val){
    location = (val);
  };
</script>
